@charset "utf-8";


html{
    font-family: 'Noto Sans KR', sans-serif;
    /* font-size: 62.5%;
     */
     font-size: 1.5vw;
}

body{
    overflow-x: hidden;
    color:#333333;
    letter-spacing:-0.05em;

}
a{
    text-decoration:none;
    color:#333333;
}

p{
    line-height:1.6;
}

h3{font-size: 3rem;
 text-align:center;}

.inner{  
   width:1200px;
   margin: 0 auto;}
.btn {
    width: 4rem;
    padding: 1rem;
    border : 0.1rem solid #333;
    border-radius: 5%;
    color: #333;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-sizing:border-box;
    display:block;
    transition:.4s;
  }
  
  .btn:hover {
    background-color: #333;
    color:#fff;
     }


/* INTRO */
.global-nav{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height:2rem;
    padding: 1rem 1rem 0 1rem;
    z-index:10;
    font-size : 1rem;
}

.global-nav-links,
.local-nav-links{
    height:80% ;
    margin:0 auto;
    display:flex;
    align-items:center;
    font-weight: bold;
}

.global-nav-links{
    justify-content:space-evenly;
}

.global-nav-links >div {
  cursor: pointer;
}
.local-nav{
    position:absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height:4rem;
    border-bottom:1px solid #ddd;
    padding:0 1rem;
    z-index: 11;
    transition: .4s; 

}


.local-nav-sticky .local-nav{
  position:fixed;
  top:0;
  background: rgba(255, 255, 255, 0.1);
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px); 
}
.local-nav-links a:not(.logo){
    margin-left: 3rem;
 
    
}
.logo{
    margin-right:auto;
    width:10vw;
    padding-top:2vw;
}

#scroll-section-0 h1{
    position: relative;
    top: 50vh;
    z-index:5;
    font-size:4rem;
    text-align: center;
    color:#333;
}


.main-message{
    display:flex;
    align-content: center;
    justify-content: center;
    top:80rem;
    height: 3rem;
    font-size:2.5rem;
    margin: .5rem 0px;
    opacity:0;
}

.main-message p{
    font-weight: bold;
    line-height: 1.2;
    font-size:2.5rem;
    text-align:center;
    color:#fff;
     }


/* PROFILE */

/* #scroll-section-1 h3{display:none;} */

#scroll-section-1 {
  padding-top: 80vh;
}
#scroll-section-1 .inner{
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
}
 
.floating-container {
    position: relative;
    width: 30vw;
    margin-left: 10vw;
}

#scroll-section-1 .inner-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#scroll-section-1 .floating1 {
    top:0;
    left:0;
    z-index:10;
}
 
#scroll-section-1 .floating2{
   position: absolute;
   left:25vw;
   width:70vw;
   z-index: -1;
 } 

 /* PROFILE */

 .inner .square h3{
  font-size:3rem;
  color:#333333;
  text-align: left;
  padding: 0 1rem 3rem;
  
} 

.inner .square .description{
  font-size: 1.4rem;
  color:#333333;
  padding:0 1rem;
  margin:0 auto;
  font-weight: bold;
  text-align: left;
  padding-bottom: 1rem;
}
.inner .square .description2{
  font-size: 1.2rem;
  color: #333333;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: left;  
}


/* hover 시 색상이 변하는 라운드; */
.square {
    width: 55vw;
    height: 50vw;
    position: relative;
  }
  
  .square span {
    position: absolute;
    width: 80%;
    height:80%;
    border: 1px solid #ccc;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    /* border-radius에 /를 이용하여 2가지를 %를 입력하면 창의적으로 찌그러진 원 만들 수 있음  */
    /* 가로40%,  세로 60%를 해서 찌그러진 원 만듬 */
    transition: 0.5s;
    /* 마우스가 올라갔을 때  배경색이 변경되는 이벤트에 딜레이를 줌 */
    /* animation: circle 5s linear infinite; */
  }
  
  .square:hover span {
    border: none;
    z-index: -1;
  }
  
  .square span:nth-child(1) {
    animation: circle 6s linear infinite;
  }
  .square span:nth-child(2) {
    animation: circle 4s linear infinite;
    animation-direction: reverse;
    /* 애니메이션 방향을 반대로 */
  }
  .square span:nth-child(3) {
    animation: circle 20s linear infinite;
  }
  
  .square:hover span:nth-child(1) {
    opacity: 0.3;
    background-color: #033333;
  }
  .square:hover span:nth-child(2) {
    opacity: 0.6;
    background-color: #fafafa;
  }
  .square:hover span:nth-child(3) {
    opacity: 0.9;
    background-color: rgb(187, 218, 228);
  }
  
  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .square div {
    text-align: center;
    color: #fff;
  }
  
  .square div a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    padding: 8px;
    text-decoration: none;
  }
  


  /* PROGRESS */
  #scroll-section-1 #progress {
    padding-bottom: 5vw;
  } 

  #scroll-section-1 #progress h4{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;

  }
  /* progress bar */

  #scroll-section-1 #progress .bar{
    width:55%; height:2.5rem;
    margin: 0 auto 2rem; 
    background-color:#eee; 
    position:relative;
    box-sizing:border-box;
    display: block;
  }
 
    #scroll-section-1 #progress .bar .fill{
    width: 100%; 
    height: 100%; 
    background-color:rgb(80, 80, 80);
    position: absolute; 
    left: 0; top:0;
    box-sizing: border-box;
    padding:0px 2rem 0px 0px;
  }
  #scroll-section-1 #progress .bar .fill .tag{
    width:auto; height:100%; 
    padding:.5rem 2rem; 
    box-sizing: border-box; 
    position:absolute; 
    left:0; top:0; 
    line-height:1; 
    color:#FFF; 
    font-size: 1.6rem;
    font-weight: bold;
    text-align:center;
  }
  #scroll-section-1 #progress .bar span{
    display:block; 
    background-color:#EEE; 
    position:absolute; 
    right:0; 
    text-align:right; 
    color:#333; 
    line-height:1; 
    font-size:1.4rem;
    font-weight: bold;
    padding: 0.6rem; 
    box-sizing:border-box;
    z-index:10;
  }
  #scroll-section-1 #progress .bar .hidden_bar{
    width:100%; height:100%; 
    background-color:#EEE; 
    position:absolute; 
    top:0;
    right:0; 
  }

.sticky-elem{
    display:none;
    position:fixed;
    left: 0;
    top: 50vh;
    width: 100%;
    color:#fff;
}


#show-scene-0 #scroll-section-0 .sticky-elem{
    display:block;
} 

.sticky-elem-canvas {
  top:0;
  height: 100%;

}


.sticky-elem-canvas canvas {
    position: absolute;
  	top: 50%;
    left: 50%;
}


#scroll-section-2 h3{
  padding: 10% 0 2%;
}


/* PROJECT */

.p-container {
  width:85vw;
  margin:0 auto;
  padding: 1vw 10vw 10vw;
  display:grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: auto auto auto auto; 
  justify-content: center;
  grid-template-areas:
   "mono mono cat"
   "ptx ptx cat"
   "airmug hotel hotel"
   "airmug sbuck sbuck";
}

.p-container .p-item {
  width: 100%;
  margin:0;
  align-content: center;
  justify-content: center;
  box-shadow:5px 5px 10px #ccc;
  /* border:1px solid #ccc; */
}

.p-container .mono { grid-area: mono; }
.p-container .ptx { grid-area: ptx; }
.p-container .cat { grid-area: cat; }
.p-container .hotel { grid-area: hotel; }
.p-container .sbuck { grid-area: sbuck; }
.p-container .airmug { grid-area: airmug; }

.p-container .item-wrap {
  display: inline-block;
  margin:0 auto;
  overflow: hidden;
}
.p-container .item-wrap a{
  position: relative;
}
.p-container .item-wrap a > img{
  width:100%;
  height: 100%;
  margin:0 ;
  transition: .5s;

}
.p-container .item-text {
  position: absolute;
  width: 100%; 
  bottom: 10vw;
  color:#fff;
  text-align: left;
  padding-top:30vw;
  display: none;
}

.p-container .mono .item-text{
  padding: 20vw 5vw 0;
}
.p-container .ptx .item-text{
  padding: 20vw 5vw 0;
  transform: translateY(-4vw);
}
.p-container .cat .item-text{
  transform: translateY(-15vw)
}
.p-container .hotel .item-text{
  padding: 20vw 5vw 0;
  transform: translateY(-1vw);
}
.p-container .airmug .item-text{
  padding-left: 1vw;
  transform: translateY(-10vw)
}
.p-container .sbuck .item-text{
  padding: 20vw 5vw 0;
  transform: translateY(-3vw);
}

.p-container .p-item .item-wrap:hover img {
  transform: scale(1.2);
  } 
.p-container .p-item .item-wrap:hover .item-text {
  background-color: rgba(51, 51, 51, 0.7);
  display: block;

}



/* MEDAL */

  #scroll-section-4 {
      padding-top: 0px;
      position: relative;
    }
  #scroll-section-4 .inner{
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  #scroll-section-4 .inner .profile-medal{
    position: relative;
  }

  #scroll-section-4 .medal{
    width: 30vw;
    height: 30vw;
    perspective: 26vw;
    cursor:pointer;
    top: 10vw;
    left: 30vw;
    z-index: 10;
    position: absolute;
  }  

#scroll-section-4 .medal .front,
#scroll-section-4 .medal .back{
    position: absolute;
    width: 30vw;
    height: 30vw;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transition:1s;
}

#scroll-section-4 .medal .front{
    position: absolute;
    transform: rotateY(0deg);
}

#scroll-section-4 .medal:hover .front{
    transform: rotateY(180deg);

}

#scroll-section-4 .medal .back{
    transform: rotateY(-180deg);
}

#scroll-section-4 .medal:hover .back{
     transform: rotateY(0deg);

}

#scroll-section-4 .medal .back .btn{
    position: absolute;
    top: 18vw;
    left: 0;
    right: 0;
    margin:auto;
    width:20vw;
    line-height: 1rem;
    font-size: 1.5rem;
    border-radius: 1.5vw;
}

#scroll-section-4 .contact{
  width: 36vw;
  border: 1px solid #ddd;
  border-radius: 4vw;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding:4vw 0;
  margin: 2vw 2vw;
}

#scroll-section-4 .contact h3{
  font-size: 3rem;
}
#scroll-section-4 .contact #name{
  font-weight: bold;
  line-height: 3;
}

#scroll-section-4 .contact .material-icons{
  font-size: 3rem;
  padding: 1.2rem;

}

#scroll-section-4 .thankyou{
  position: absolute;
  bottom:0;
  left: 30vw;
  width: 30vw;

}

#scroll-section-4 .inner-row{
  display: flex;
  flex-direction: row;;
}

#scroll4-main-img {
  width: 40vw;
}

.footer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:4rem;
  font-size:0.5rem;
  background-color:#333333;
  color:#fff;
  font-size:1.5rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.before-load .loading {
 opacity: 1; 
}



.top_btn {
  /* background: rgb(131, 194, 190);
  border-radius: 0.7rem; */
  color: rgb(131, 194, 190);
  width: 2rem;
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 1000;
  display: none;
  text-align: center;
}

.top_btn .material-icons {
 font-size: 3rem;
 
}

@keyframes loading-circle-spin{
  100% {transform: rotate(360deg);}
}

@keyframes loading-circle-ani{
  0% {stroke-dashoffset: 157;}
  75% {stroke-dashoffset: -147;}
  100% {stroke-dashoffset: -157;}
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-circle-spin 3s infinite;
} 


.loading-circle circle{
  stroke: black;
  stroke-width : 4;
  /* getTotalLength()로 stroke의 길이를 알 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading-circle-ani 1s infinite;
}

@media (min-width:1500px) {
    #scroll-section-0 h1{
        font-size: 4rem;
    }    
    .main-message{
        font-size: 6rem;
    }
    
    .description{
        font-size: 2rem;
    }
    
    .description h3{
        font-size:6rem;
    }
    
   
    .canvas-caption{
        font-size:2rem;
    }
}


@media screen and (max-width: 768px) {
  #scroll-section-0 h1{
    font-size: 5rem;
  }
  .main-message p{
    font-size: 4rem;
  }
 
  #scroll-section-1 .inner .inner-row {
    flex-direction: column;
    align-items: center;
  }

  #scroll-section-1 .inner .inner-row .floating-container {
    width: 60vw;
    margin:auto;
  }

  #scroll-section-1 .inner .inner-row .square {
    width: 90vw;
    height: unset;
    margin:60px auto;
  }

  #scroll-section-1 .inner .inner-row .square h3{
    font-size: 3rem;
  }

  #scroll-section-1 .inner .inner-row .square .description{
    font-size: 2.5rem;
  }

  #scroll-section-1 .inner .inner-row .square .description2{
    font-size: 2.5rem;
  }

  #scroll-section-1 .floating2 {
    position: absolute;
    top: 35vw;
    left: 30vw;
    width: 70vw;
    z-index: 1;
  }
  #scroll-section-1 .inner .inner-row .square span {
    display: none;
  }
  #scroll-section-1 #progress {
    margin-top: 35px;
  } 
  .p-container {
    grid-template-columns: 1fr 1fr;   
    grid-template-areas:
    "mono mono"
    "ptx  ptx"
    "airmug cat"
    "airmug cat"
    "hotel hotel "
    "sbuck sbuck "
  }


  #scroll-section-2 .folio-types{

  }
  
  #scroll-section-4 .inner{
    width: 100vw;
    flex-direction: column;
  }

  #scroll-section-4 .medal {

  }
  
  #scroll-section-4 .inner .profile-medal{
    transform: translateX(-10vw);
    
  }
  #scroll-section-4 .contact {
    width: 60vw;
    font-size: 2.4rem
  }
  #scroll-section-4 .thankyou{
   top:40vw;
   right:-40vw;
  }
  .top_btn{
    width: 4rem;
  }



}